*{
    margin: 0%;
    padding: 0%;
    background-color: whitesmoke;
    /* background-color:#04AA6D */
}

.formDiv{
    margin: 20px;
}
.heading1{
    background: #3d3dff;
    color: aliceblue;
}
.gender{
    width : 20%;
}

.addBtnDesign{
   width:8%;
   height: 35px;
   border-radius: 5%;
   border: none;
   background-color: #04AA6D;
   color: white;
   font-weight: 500;
}
.clearBtnDesign{
    width:8%;
   height: 35px;
   border-radius: 5%;
   border: none;
   background-color: #f44336;
   color: white;
   font-weight: 500;
}
.designInputBox{
    width: 15%;
    /* margin-left: 10px; */
    padding: 7px;
    background-color: white;
    border: none;
}

/* table */

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

/* table */
